@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap");
:root {
  --delay: 0s;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
}

html body {
  height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;
  color: #1d1d20;
}

html[data-theme=dark] body {
  color: #D7E0FF;
}
html[data-theme=dark] .app {
  background-color: #0e0e23;
}
html[data-theme=dark] .app .side-link a {
  color: #9b9ca7;
}
html[data-theme=dark] .app .header {
  background: #141834;
  background: radial-gradient(circle, #141834 0%, #13162f 100%);
  box-shadow: 0 16px 12px #0e0e23;
}
html[data-theme=dark] .app .header::before {
  background-color: #0e0e23;
}
html[data-theme=dark] .app .logo a {
  color: #e7e8ea;
}
html[data-theme=dark] .app .header-link {
  color: #9b9ca7;
}
html[data-theme=dark] .app .header-link:hover, html[data-theme=dark] .app .header-link.active {
  background: #11132c;
}
html[data-theme=dark] .app .dm-toggle .switch-label {
  border: 1px solid #D7E0FF;
}
html[data-theme=dark] .app .dm-toggle .switch-label .toggle {
  background-color: #D7E0FF;
}
html[data-theme=dark] .app .dm-toggle #switch:checked ~ .switch-label {
  background: #0e0e23;
  border-color: #D7E0FF;
}
html[data-theme=dark] .app .cards-header {
  background: #10122b;
}
html[data-theme=dark] .app .card {
  background: #1a2049;
  background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
}
html[data-theme=dark] .app table thead {
  background: #1a2049;
  background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
}
html[data-theme=dark] .app table th input {
  border: 1px solid #D7E0FF;
}
html[data-theme=dark] .app table tbody tr td .parameter {
  background-color: #9e5924;
}

.hidden {
  display: none !important;
}

img {
  max-width: 100%;
}

.app {
  display: flex;
  height: 100vh;
  background-color: #ececec;
  margin-right: auto;
  margin-left: auto;
}
.app .left-side {
  width: 6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  padding: 138px 0 40px;
  -webkit-animation: left 1s both;
  animation: left 1s both;
}
.app .side-link {
  margin-bottom: 34px;
}
.app .side-link a {
  color: #424242;
}
.app .side-link a:hover, .app .side-link a.active {
  color: #4255d4 !important;
}
.app .side-link i {
  font-size: 30px;
}
.app .side-link:last-child {
  margin-top: auto;
  margin-bottom: 0;
}
.app .main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 25px;
  padding-left: 25px;
  overflow: auto;
  padding-left: 0;
}
.app .header {
  background: #ffffff;
  background: radial-gradient(circle, #ffffff 0%, #ffffff 100%);
  box-shadow: 0 16px 12px #ececec;
  width: 100%;
  padding: 0 30px;
  -webkit-animation: top 1s both;
  animation: top 1s both;
  display: flex;
  align-items: center;
  border-radius: 6px;
  white-space: nowrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.app .header::before {
  content: "";
  width: 100%;
  height: 25px;
  position: absolute;
  top: -25px;
  left: 0;
  background-color: #ececec;
}
.app .logo {
  padding: 20px 50px 20px 0;
}
.app .logo a {
  font-size: 22px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  color: #161616;
  text-decoration: none;
}
.app .logo i {
  color: #fff;
  background: #4255d4;
  padding: 8px;
  min-width: 15px;
  margin-left: -2px;
  border-radius: 50%;
  font-size: 15px;
}
.app .header-link {
  color: #424242;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  height: 100%;
}
.app .header-link:hover, .app .header-link.active {
  background: #f9f9f9;
  border-bottom: 3px solid #4255d4;
}
.app .header-link i {
  font-size: 20px;
  padding-right: 12px;
}
.app .dm-toggle {
  padding-right: 20px;
}
.app .dm-toggle #switch {
  visibility: hidden;
  position: absolute;
}
.app .dm-toggle .switch-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 22px;
  border: 1px solid #1d1d20;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: 0.5s all ease;
  margin-bottom: -4px;
}
.app .dm-toggle .switch-label .toggle {
  width: 14px;
  height: 14px;
  border-radius: 25px;
  background-color: #1d1d20;
  position: absolute;
  left: 3px;
  transition: 0.5s all ease;
}
.app .dm-toggle #switch:checked ~ .switch-label {
  transition: 0.5s all ease;
  background: #ececec;
  border-color: #1d1d20;
}
.app .dm-toggle #switch:checked ~ .switch-label .toggle {
  height: 12.5px;
  transform: scale(0.9) translateX(15px) rotate(90deg);
  transition: 0.7s all ease;
  border-radius: 25px 25px 0 0;
  background: transparent;
  box-shadow: 0px -6px 0 0 #fff;
}
.app .user-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.app .user-info span.username {
  padding-right: 6px;
}
.app .user-info i {
  padding: 8px;
  margin-left: -2px;
  border-radius: 50%;
  font-size: 20px;
}
.app .content {
  margin-top: 25px;
  -webkit-animation: top 1s both;
  animation: top 1s both 0.5s;
}
.app .cards-wrapper {
  margin-left: 0;
  flex-grow: 1;
  max-width: none;
}
.app .cards-header {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #10122b;
  color: #fff;
  border-radius: 6px 6px 0 0;
  padding: 20px 45px;
  font-size: 15px;
  font-weight: 500;
}
.app .cards-header div i {
  font-size: 20px;
  padding-right: 8px;
}
.app .cards-header div i:last-child {
  padding-right: 0;
}
.app .cards-header .left a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  border: none;
  padding: 2px 10px;
  border-radius: 6px;
  background: #d14b69;
  padding: 8px 16px;
  margin-left: 12px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.app .cards-header .left a:hover {
  color: #fff;
  box-shadow: 0 0 10px #d14b69;
}
.app .cards-header .middle {
  margin-left: -150px;
}
.app .cards-header .middle span:last-child {
  cursor: pointer;
  display: inline-block;
  background: #4255d4;
  padding: 8px;
  margin-left: 6px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
}
.app .cards-header .right i {
  cursor: pointer;
}
.app .cards-header .right i:hover {
  color: #1aa385;
}
.app .cards.card {
  border-radius: 0 0 6px 6px;
  padding: 0 20px 30px 20px;
}
.app .card {
  background: #e5e5e5;
  background: radial-gradient(circle, #e5e5e5 0%, #ffffff 100%);
  padding: 40px 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}
.app table {
  text-align: left;
  padding: 0;
}
.app table thead {
  position: sticky;
  top: 85px;
  background: #e5e5e5;
  background: radial-gradient(circle, #e5e5e5 0%, #ffffff 100%);
}
.app table th {
  padding-top: 30px;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 16px;
}
.app table th:first-child {
  padding-left: 36px;
}
.app table th span {
  display: inline-block;
  margin-bottom: 0.5em;
}
.app table th span.sorting {
  position: relative;
}
.app table th span.sorting a:hover i::before, .app table th span.sorting a.active i::before {
  color: #1aa385 !important;
}
.app table th span.sorting a:hover + a, .app table th span.sorting a.active + a {
  display: none;
}
.app table th span.sorting i {
  position: absolute;
  left: 6px;
  height: 14px;
  width: 14px;
  color: #4255d4;
  transition: all 0.3s ease;
}
.app table th span.sorting i.up {
  top: -8px;
}
.app table th span.sorting i.down {
  top: -2px;
}
.app table th input {
  display: block;
  border: 1px solid #1d1d20;
  border-radius: 6px;
  padding: 6px;
  max-width: 120px;
}
.app table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
.app table tbody tr td {
  padding: 3px 0;
}
.app table tbody tr td:first-child {
  padding-left: 11px;
}
.app table tbody tr td:first-child input {
  cursor: pointer;
}
.app table tbody tr td:first-child span {
  display: inline-block;
  padding-left: 11px;
}
.app table tbody tr td:last-child p {
  font-size: 14px;
}
.app table tbody tr td .parameter {
  height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #3E4EC2;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

@keyframes left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}