
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');


$border-body: 5px dashed hotpink;
$border-container: 5px solid yellow;
$border-container-inner: 2px dashed deepskyblue;
$border-element: 2px dotted darkorchid;

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

$white: #fff;
$black: #000;
$gray: #424242;

$green: #1aa385;
$red: #d14b69;
$purple: #3E4EC2;
$highlight: #4255d4;
$highlight-secondary: $purple;

$text-primary: #1d1d20;
$text-secondary: #161616;
$background-primary: #ffffff;
$background-secondary: #ececec;
$background-modules-static: #ffffff;
$background-gradient-end: #ffffff;
$background-modules-gradient:radial-gradient(circle, $background-modules-static 0%, $background-gradient-end 100%);
$background-header: #ffffff;
$background-header-gradient: radial-gradient(circle,  $background-header 0%, $background-gradient-end 100%);
$background-header-active: #f9f9f9;
$background-cards-header: #10122b;
$background-cards: #e5e5e5;
$background-cards-gradient: radial-gradient(circle, $background-cards 0%, $background-gradient-end 100%);

$ffi: 'FontAwesome';

:root {
    --delay: 0s;
}


* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
}

html body {
    height: 100vh;
    width: 100%;
    font-family: "Inter", sans-serif;
    color: $text-primary;
}

html[data-theme='dark'] {
    $white: #fff;
    $black: #000;
    $gray: #9b9ca7;

    $green: #1aa385;
    $red: #d14b69;
    $purple: #3E4EC2;
    $highlight: #4255d4;
    $highlight-secondary: #9e5924;
    $text-primary: #D7E0FF;
    $text-secondary: #e7e8ea;
    $background-primary: #020207;
    $background-secondary: #0e0e23;
    $background-modules-static: #1a2049;
    $background-gradient-end: #13162f;
    $background-modules-gradient:radial-gradient(circle, $background-modules-static 0%, $background-gradient-end 100%);
    $background-header: #141834;
    $background-header-gradient: radial-gradient(circle,  $background-header 0%, $background-gradient-end 100%);
    $background-header-active: #11132c;
    $background-cards-header: #10122b;
    $background-cards: #1a2049;
    $background-cards-gradient: radial-gradient(circle, $background-cards 0%, $background-gradient-end 100%);

    body {
        color: $text-primary;
    }

    .app {
        background-color: $background-secondary;

        .side-link {
            a {
                color: $gray;
            }
        }

        .header {
            background: $background-header;
            background: $background-header-gradient;
            box-shadow: 0 16px 12px $background-secondary;
            &::before {
                background-color: $background-secondary;
            }
        }
        .logo {
            a {
                color: $text-secondary;
            }
        }
    
        .header-link {
            color: $gray;
            &:hover,
            &.active  {
                background: $background-header-active;

            }
        }
        .dm-toggle { 
            .switch-label {
                border: 1px solid $text-primary;
   
                .toggle {
                    background-color: $text-primary;
                }
            }
    
            #switch:checked {
                ~.switch-label {
                    background: $background-secondary;
                    border-color: $text-primary;
                }
            }
        }

        .cards-header {
            background: $background-cards-header;
        }

        .card {
            background: $background-cards;
            background: $background-cards-gradient;
        }

        table {
            thead {

                background: $background-cards;
                background: $background-cards-gradient;
            }
            th {
                input {
                    border: 1px solid $text-primary;
                }
            }
            tbody {
                tr {
                    td {
                        .parameter {
                            background-color: $highlight-secondary;
                        }
                    }
                }
            }
        }
    }

}

.hidden {
    display: none !important;
}

img {
    max-width: 100%;
}

// - ###

.app {
    
    display: flex;
    height: 100vh;
    background-color: $background-secondary;
    margin-right: auto;
    margin-left: auto;


    .left-side {
        // border: $border-container-inner;

        width: 6rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        padding: 138px 0 40px;
        -webkit-animation: left 1s both;
        animation: left 1s both;
    }

    .side-link {
        margin-bottom: 34px;
        a {
            color: $gray;
            &:hover,
            &.active {
                color: $highlight !important;
            }
        }
        i {
            font-size: 30px;
        }
        &:last-child {
            margin-top: auto;
            margin-bottom: 0;
        }
    }

    .main-container {
        // border: $border-container-inner;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 25px;
        padding-left: 25px;
        overflow: auto;
        padding-left: 0;
    }

    .header {
        // border: $border-element;
        background: $background-header;
        background: $background-header-gradient;
        box-shadow: 0 16px 12px $background-secondary;
        width: 100%;
        padding: 0 30px;
        -webkit-animation: top 1s both;
        animation: top 1s both;
        display: flex;
        align-items: center;
        border-radius: 6px;
        white-space: nowrap;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;

        &::before {
            content: "";
            width: 100%;
            height: 25px;
            position: absolute;
            top: -25px;
            left: 0;
            background-color: $background-secondary;
        }
    }

    .logo {
        padding: 20px 50px 20px 0;

        a {
            font-size: 22px;
            font-family: 'Kumbh Sans', sans-serif;
            font-weight: 700;
            color: $text-secondary;
            text-decoration: none;
        }
        i {
            color: $white;
            background: $highlight;
            padding: 8px;
            min-width: 15px;
            margin-left: -2px;
            border-radius: 50%;
            font-size: 15px;
        }
    }

    .header-link {
        color: $gray;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 20px;
        transition: 0.3s;
        border-bottom: 3px solid transparent;
        transition: 0.3s;
        height: 100%;
        &:hover,
        &.active  {
            background: $background-header-active;
            border-bottom: 3px solid $highlight;
        }
        i {
            font-size: 20px;
            padding-right: 12px;
        }
    }

    .dm-toggle {
        padding-right: 20px;
        #switch {
            visibility: hidden;
            position: absolute;
        }

        .switch-label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 22px;
            border: 1px solid $text-primary;
            border-radius: 50px;
            position: relative;
            cursor: pointer;
            transition: 0.5s all ease;
            margin-bottom: -4px;

            .toggle {
                width: 14px;
                height: 14px;
                border-radius: 25px;
                background-color: $text-primary;
                position: absolute;
                left: 3px;
                transition: 0.5s all ease;
            }
        }

        #switch:checked {
            ~.switch-label {
                transition: 0.5s all ease;
                background: $background-secondary;
                border-color: $text-primary;
                .toggle {
                    height: 12.5px;
                    transform: scale(0.9) translateX(15px) rotate(90deg);
                    transition: 0.7s all ease;
                    border-radius: 25px 25px 0 0; 
                    background: transparent;
                    box-shadow: 0px -6px 0 0 $white;
                }
            }
        }
    }

    .user-info {
        margin-left: auto;
        display: flex;
        align-items: center;
        span.username {
            padding-right: 6px;
        }
        i {
            padding: 8px;
            margin-left: -2px;
            border-radius: 50%;
            font-size: 20px;
        }
    }

    .content {
        margin-top: 25px;
        -webkit-animation: top 1s both;
        animation: top 1s both .5s;
    }

    .cards-wrapper {
        margin-left: 0;
        flex-grow: 1;
        max-width: none;
    }

    .cards-header {
        padding: 20px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $background-cards-header;
        color: $white;
        border-radius: 6px 6px 0 0;
        padding: 20px 45px;
        font-size: 15px;
        font-weight: 500;
        div i {
            font-size: 20px;
            padding-right: 8px;
            &:last-child {
                padding-right: 0;
            }
        }
        .left {
            a {
                display: inline-flex;
                align-items: center;
                color: $white;
                border: none;
                padding: 2px 10px;
                border-radius: 6px;
                background: $red;
                padding: 8px 16px;
                margin-left: 12px;
                text-decoration: none;
                transition: all .3s ease;
                &:hover {
                    color: $white;
                    box-shadow: 0 0 10px $red;
                }
            }
        }
        .middle {
            margin-left: -150px;
            span:last-child {
                cursor: pointer;
                display: inline-block;
                background: $highlight;
                padding: 8px;
                margin-left: 6px;
                border-radius: 50%;
                font-size: 12px;
                color: $white;
            }
        }
        .right {
            i {
                cursor: pointer;

                &:hover {
                    color: $green;
                }
            }
        }
    }

    .cards.card {
        border-radius: 0 0 6px 6px;
        padding: 0 20px 30px 20px;
    }

    .card {
        background: $background-cards;
        background: $background-cards-gradient;
        padding: 40px 30px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
    }

    table {
        text-align: left;
        padding: 0;
        thead {
            position: sticky;
            top: 85px;
            background: $background-cards;
            background: $background-cards-gradient;
        }
        th {
            padding-top: 30px;
            font-size: 14px;
            font-weight: normal;
            padding-bottom: 16px;
            &:first-child  {
                padding-left: 36px;
            }
            span {
                display: inline-block;
                margin-bottom: .5em;
                &.sorting {
                    position: relative;
                    a {
                        &:hover,
                        &.active {
                            i::before {
                                color: $green !important;
                        
                            }               
                            &+ a {
                                display: none;
                            }     
                        }
                    }
                    i {
                        position: absolute;
                        left: 6px;
                        height: 14px;
                        width: 14px;
                        color: $highlight;
                        transition: all .3s ease;
                        &.up {
                            top: -8px;
                        }
                        &.down {
                            top: -2px;
                        }
                    }
                }
            }
            input {
                display: block;
                border: 1px solid $text-primary;
                border-radius: 6px;
                padding: 6px;
                max-width: 120px;
            }
        }
        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: rgba(0, 0, 0, .1);
                }
                td {
                    padding: 3px 0;
                    &:first-child  {
                        padding-left: 11px;
                        input {
                            cursor: pointer;
                        }
                        span {
                            display: inline-block;
                            padding-left: 11px;
                        }
                    }
                    &:last-child {
                        p {
                            font-size: 14px;
                        }
                    }
                    .parameter {
                        height: 24px;
                        padding: 4px 8px;
                        border-radius: 4px;
                        background-color: $highlight-secondary;
                        font-size: 13px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@keyframes left {
    0% {
     transform: translateX(-30px);
     opacity: 0;
    }
    
    100% {
     opacity: 1;
     transform: none;
    }
   }

@keyframes top {
    0% {
     transform: translateY(-30px);
     opacity: 0;
    }
    
    100% {
     opacity: 1;
     transform: none;
    }
}